###  Project Objectives 
 - Connect to the data Base
 - Query data into Data Frame
 - Visualize Trends

In [11]:
import pyodbc
import pandas as pd

In [14]:
#Connect to the Database 
Database = 'PRACTICE'
Server = 'DESKTOP-U507UFU\\MSSQLSERVER01'

conn_str=(
    "Driver={SQL Server};"
    f"Server={Server};"
    f"Database={Database};"
    "Trusted_Connection=yes;"
)

conn = pyodbc.connect(conn_str)

In [16]:
query = """
     SELECT * FROM  brokers
"""
df = pd.read_sql(query, conn)

C:\Users\User\AppData\Local\Temp\ipykernel_35004\19475453.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BrokerID    50 non-null     int64
 1   BrokerName  50 non-null     object
 2   ReportsTo   49 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB